* {
  margin: 0;
}

body,
html {
  scroll-snap-type: y mandatory;
}

.child {
  display: grid;
  place-items: center;
  scroll-snap-align: start;
  height: 95vh;
  /* border: 1px rgb(247, 247, 247) solid; */
}
nav {
  position: fixed;
  bottom: 0;
  background-color: #222;
  width: 100vw;
  height: 5vh;
}
nav a {
  text-decoration: none;
  color: white;
}
